@tailwind base;
@tailwind components;
@tailwind utilities;

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  align-content: center;
  width: 100px;
  height: 100px;
  border: 8px solid;
  border-color: #12743e transparent #12743e transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
